* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    font-family: "helveticaneuemedium";
    overflow-x: hidden;
}

/* ============================##### Search Box Area #### ============================ */


.search-box {
    width: 100%;
    height: 350px;
    background-color: #f5f7fa;
    display: none;
    align-items: center;
    padding: 0 50px;
    position: relative;
}

.search-box .close-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.btn:hover i.fa-xmark {
    color: white;
}
.btn-search{
    text-decoration: none;
    color: #3c3c3c;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 22px;
    
}

/* ======================== ##### Header #### ================================= */

.header-container-homepage{
    display: none;
}
@media screen and (max-width:800px){
    .header-container-homepage{
        display: block;
    }
}
@media only screen and (max-width: 428px) {
    .nav_bar_home{
        display: none;
    }
    
}
.header-container-homepage i{
    margin-left: 203px;

}
.search-wrapper{
    width: 100%;
    height: 100%;
    z-index: 5000;
    left: 0;
    background-color: #f5f7fa;
    transition-duration: 500ms;
}
.amado-nav{
    /* padding: 20px 30px; */
    text-decoration: none;
    display: flex;
    
}
.amado-nav ul li a{
    font-size: 16px;
    line-height: 0.9;
    text-transform: uppercase;
    margin: 10px 0;
    text-decoration: none;
    padding: 16px 20px;
    display: block;
    color: #131212;
    
}
.fav-nav,.search-nav {
    color: #131212;
   text-transform: uppercase;
   display: block;
   text-decoration: none;
   padding: 16px 30px;
}
/* .amado-nav li a::after{
    transition-duration: 500ms;
    width: 40px;
    height: 4px;
    position: absolute;
    top: 190px;
    left: -3px;
    background-color: #fbb710;
    z-index: 10;
    content: '';
} */
ul{
    position: relative;
}
.amado-btn-group a{
    margin-top: 30px;
    padding-top: 15px;

}
.amado-btn-group{
    width: 100px;
    
}
.amado-btn{
    height: 65px;
}

.amado-nav li a::after{
    left: -75px;
    transition-duration: 500ms;
    width: 40px;
    height: 4px;
    position: absolute;
    top: 33px;
    left: -20px;
    background-color: #fbb710;
    z-index: 10;
    content: '';
}

.amado-btn-group{
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    margin-top: 15px;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    max-width: 30px;
    line-height: 56px;
    
}
.btn{
    background: #fbb710;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0;
    color: #f5f7fa;
    /* padding: 10px -20px;
    display: block; */
}
.amado-btn-group .amado-btn{
    width: 200px;
    display: block;
}
.btn:hover{
    background-color: #131212;
}

.cart-nav{
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    padding: 196px 0 15px 30px;
    color: #131212;
    text-decoration: none;
    top: 50px;
    /* color: inherit; */
}
ul li a:hover{
    color: #fbb710;
}
a:hover{
    color: #fbb710;
}
.logo{
    margin-bottom: 100px;
    display: block;
    margin-left: 55px;
}
.social-info a{
    color: #b5b5b5;
    display: block;
    padding: 100px 0 0 0;
}
.d-flex .fa-brands{
    padding: 20px 30px;
}

.navbar-expand-lg .navbar-collapse{
    display: flex;
}
.social-info a:hover{
    color: #fbb710;
}
ul li {
    list-style-type: none;
}
.cart-fav-search{
    margin-top: 60px;
}
   
/* ================================= #### Box Content ##### ========================== */


.box {
    padding: 0;
    margin: 0;
}
.box-content{
    width: 100%;
    position: relative; 
}
.box-content img {
    width: 100%;
    height: 100%;
}
.box-content .box-text {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1000;
}
.box-content .box-text .line {
    width: 80px;
    height: 3px;
    background-color: #fbb710;
}
.box-content .box-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.box-content:hover .box-hover {
    background-color: rgba(0,0,0 ,0.50);
    transition: all 1s;
}
.box-content:hover .box-text{
    color: white;
}
 
/* ===================================== ##### Search Newsletter  Area ##### ================================ */

.search-area {
    width: 100%;
    height: 250px;
    background-color: rgb(95, 79, 79);
    display: none;
}
.search-wrapper .search-area form input{
    width: 100%;
    height: 60px;
    border: none;
    padding-left: 50px;
    font-size: 14px;
    color: #6b6b6b;

}
.newsletter-area{
    position: relative;
    z-index: 1;
    background-color: #3c3c3c;
    color: white;
}

.section-padding-100-0{
    padding: 100px;
    padding: 0px;
}
.newsletter-area{
    height: 50%;
    width: 100%;
    padding: 100px 60px;
}
.newsletter-area .newsletter-form form input[type="email"]{
    width: 60%;
    height: 50px;
    background-color: #fff;
    color: #afafaf;
    font-size: 14px;
    font-style: italic;
    border: none;
    padding: 0 30px;
}
.newsletter-area .newsletter-form form input[type="submit"]{
    transition-duration: 500ms;
    height: 50px;
    background-color: #fbb710;
    color: #fff;
    font-size: 14px;
    padding: 0 30px;
    cursor: pointer;
    position: absolute;
    border: none;
    z-index: 10;
}
h2{
    color: #fff;
    font-size: 40px;
}

span{
    color: #fbb710;
    
}
.des{
    color: #6d6d6d;
    font-size: 20px;
    line-height: 1.9;
}
.navbar-nav  li a{
    color: #f5f7fa;
    padding: 40px 0 0 0 ;
    display: block;
    margin: 0 30px ;
}


/* =================================== ##### Footer ##### ======================================= */

.footer_area{
    position: relative;
    z-index: 1;
    background-color: #252525;
    padding: 80px 0;
}
.footer_area .single_widget_area .copywrite{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 10px;
}
.footer_area .single_widget_area .footer_menu .navbar{
    padding: 0;
}
.footer_area .single_widget_area .footer_menu .navbar{
    padding: 0;
}
#footerNavContent{
    color: white;
    font-size: 20px;
}
.collapse ul li a:hover{
    color: #fbb710;
}

#searchForm {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}
.copywrite a{
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

/* ======================================= ##### Button Scroll ##### ================================ */

#scrollUp{
    background-color: #fbb710;
    border-radius: 0;
    bottom: 60px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: #ffff;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    right: 60px;
    text-align: center;
    width: 40px;
    text-decoration: 500ms;

}
