* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    font-family: "helveticaneuemedium";
    overflow-x: hidden;
}

/* =====================#### Search Box Area #####============================ */
.search-box {
    width: 100%;
    height: 350px;
    background-color: #f5f7fa;
    display: none;
    align-items: center;
    padding: 0 50px;
    position: relative;
}

.search-box .close-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.btn:hover i.fa-xmark {
    color: white;
}
.btn-search{
    text-decoration: none;
    color: #3c3c3c;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 22px;
    
}

/* =========================== ##### Header #### ========================== */

.header-container-homepage{
    display: none;
}
@media screen and (max-width:800px){
    .header-container-homepage{
        display: block;
    }
}
@media only screen and (max-width: 428px) {
    .nav_bar_home{
        display: none;
    }
    
}
.d-flex .fa-brands{
    padding: 20px 30px;
}
.header-container-homepage i{
    margin-left: 203px;

}

.search-wrapper{
    width: 100%;
    height: 100%;
    z-index: 5000;
    left: 0;
    background-color: #f5f7fa;
    transition-duration: 500ms;
}
.amado-nav{
    /* padding: 20px 30px; */
    text-decoration: none;
    display: flex;
    
}
.amado-nav ul li a{
    font-size: 16px;
    line-height: 0.9;
    text-transform: uppercase;
    margin: 10px 0;
    text-decoration: none;
    padding: 16px 20px;
    display: block;
    color: #131212;
    
}
.image-shop img{
    width: 100%;
    height: 100%;
}
.fav-nav,.search-nav {
    color: #131212;
   text-transform: uppercase;
   display: block;
   text-decoration: none;
   padding: 16px 30px;
}
.container-fluid .row .amado-nav li a::after{
    transition-duration: 500ms;
    width: 40px;
    height: 4px;
    position: absolute;
    top: 90px;
    left: -20px;
    background-color: #fbb710;
    z-index: 10;
    content: '';
}
ul{
    position: relative;
}
.amado-btn-group a{
    margin-top: 30px;
    padding-top: 15px;

}
.amado-btn-group{
    width: 100px;
    
}
.amado-btn{
    height: 65px;
}

.search-area {
    width: 100%;
    height: 250px;
    background-color: rgb(95, 79, 79);
    display: none;
}
.search-wrapper .search-area form input{
    width: 100%;
    height: 60px;
    border: none;
    padding-left: 50px;
    font-size: 14px;
    color: #6b6b6b;

}
.main-content-wrapper .header-area .amado-nav li.active a::after{
    left: -75px;
}

.amado-btn-group{
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    margin-top: 15px;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    max-width: 30px;
    line-height: 56px;
    
}
.navbar-nav  li a{
    color: #f5f7fa;
    padding: 40px 0 0 0 ;
    display: block;
    margin: 0 30px ;
}
.btn{
    background: #fbb710;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0;
    color: #f5f7fa;
    /* padding: 10px -20px;
    display: block; */
}
.amado-btn-group .amado-btn{
    width: 200px;
    display: block;
}
.btn:hover{
    background-color: #131212;
}
.cart-nav{
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    padding: 196px 0 15px 30px;
    color: #131212;
    text-decoration: none;
    top: 50px;
    /* color: inherit; */
}
ul li a:hover{
    color: #fbb710;
}
a:hover{
    color: #fbb710;
}
.logo{
    margin-bottom: 100px;
    display: block;
    margin-left: 55px;
}
.social-info a{
    color: #b5b5b5;
    display: block;
    padding: 100px 0 0 0;
   
}
.navbar-expand-lg .navbar-collapse{
    display: flex;
}

/* =======================#### Input Range #### =====================  */

.wrapper-shop{
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 25px 40px;

}
.header-shop .title-sho{
    margin-top: 24px;
    font-weight: 600;
}
.header-shop .title-p{
    margin-top: 5px;
    font-size: 16px;
}
.price-input{
    width: 100%;
    display: flex;
    margin: 30px 0 35px;

}
.price-input .field{
    background-color: red;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
}
.field input{
    width: 100%;
    height: 100%;
    outline: none;
    text-align: center;
    margin-left: 12px;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 19px;
    -moz-appearance:none ;
}
.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.price-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}
.slider{
    height: 5px;
    background-image: #ddd;
    border-radius: 5px;
    position: relative;
}
.slider .progress{
    height: 5px;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background-color: #17A288;

}
.range-input input{
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    -webkit-appearance: none;
    pointer-events: none;

}
input[type="range"]::-webkit-slider-thumb{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    -webkit-appearance: none;
    background: #17A288;
    pointer-events: auto;
}
.range-min{
    margin-top: 685px;
}
.range-max{
    margin-top: 685px;
}
.input[type="range"]::-moz-range-progress{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    -moz-appearance: none;
    background: #17A288;
    pointer-events: auto;
    border: none;
}

/* ==================================#### SINGLE WIDGET ####=======================================            */
.social-info a:hover{
    color: #fbb710;
}
ul li {
    list-style-type: none;
}
.cart-fav-search{
    margin-top: 60px;
}
.categories-shop-amado{
    display: flex;
    color: #959595;
    font-size: 20px;
    font-weight: 400px;
    line-height: 3;
}
.categories-shop-amado ul li a{
    text-decoration: none;
    color: #959595;
    display: block;
       
}
.categories-shop-amado ul li a:hover{
    color: #fbb710;
}
.form-check .form-check-label{
    font-size: 20px;
}
.widget .form-check .form-check-label:hover{
    color: #fbb710;
    
}
.shop-categories{
    position: relative;
    background-color: #dbe1e8;
    padding: 100px 20px;
    z-index: 1;
    flex: 0 0 230px;
    width: 100%;
    height: 100%;
}
.form-check {
    padding: 10px 30px;
    color: #959595;
    font-size: 16px;
    font-weight: 400px;
    line-height: 2;
    
}

.form-check-input{
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
}
.widget.brands .form-check label{
    transition-duration: 500ms;
    font-size: 20px;
    color: #959595;
    font-weight: 400;
    cursor: pointer;
}
.widget-desc
.form-check-label{
    margin-bottom: 0;
   
}
 
.widget{
    position: relative;
    z-index: 1;
}
.widget .widget-title{
    font-size: 20px;
    text-transform: capitalize;
    color:#242424 ;
}
h6{
    line-height: 1.3;
    font-weight: 400px;
}
.widget.color .widget-desc ul{
    flex-wrap: wrap;   
}


.widget.color .widget-desc ul li a.color1{
    background-color: #ffffff;
}
.color2{
    background-color: gray;
   
}
.d-flex li{
    padding: 0 10px;
}
.color3{
    background-color: black;
}
.color4{
    background-color: blue;
}
.color5{
    background-color: red;
}
.color6{
    background-color: yellow;
}
.color7{
    background-color: orange;
}
.color8{
    background-color: brown;
    
}
.widget.color .widget-desc ul li a{
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    position: relative;
    z-index: 300;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.widget.price .ui-slider-horizontal{
    height:4 ;
    background-color: #fbb710;
}
.widget.price .slider-range-price{
    border: none;
}
.widget.price .range-price{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    text-transform: uppercase;
    color: #959595;
}

.fa-table-cells-large::before{
    content: "\f009";
}
.fa-solid{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
}
.large{
   
    width: 40px;
    height: 40px;
    color: #242424;
    text-align: center;
    background-color: #fbb710;
    border: none;
}
.total-products{
    margin-top: 100px;
}
.bar{
    width: 40px;
    height: 40px;
    background-color: #131212;
}
.product-topbar .total-products .view a{
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    background-color: #131212;
    color: #fff;
    text-align: center;
    line-height: 44;
}
.box-image-shop{
    width: 100%;
    height: 100%;
    margin-top: 50px;
   
}

.box-image-shop p{
    color: #fbb710;
    font-size: 22px;
}
.ratings-cart i{
    color: #fbb710;
}

.box-image-shop .box-text-shop .line-shop {
    width: 110px;
    height: 3px;
    background-color: #fbb710;
    margin-top: 30px;
}
.image-shop{
    padding-top: 30px;
}
.product-shop-amado{
    padding-top: 60px;
}

.img{
    width: 100%;
    height: 100%;
}
.image-shop{
    max-height: 100%;
}

.product-shop-amado{
    margin-top: 10px;
}
.form-shop{
    margin-top: 100px;
}
.shop-form-amado{
    width: 150px;
    height: 30px;
    justify-content: center;
    display: flex;   
    margin-top: 100px;
    margin: 100px 40px  ;
    background-color: #f5f7fa;
}
.sort{
    background-color: #f5f7fa;
    color: #959595;
    padding-left: ;
}

#cars{
    width: 100px;
    border: none; 
    background-color: #f5f7fa;

}
.cart a{
    padding-left: 80px;
}

.view{
    margin-left: 30px;
    text-align: center;
    padding-right: 30px;
    
}
#cars1{
    width: 100px;
    border: none; 
    background-color: #f5f7fa;

}

/* =============================== #### Newsletter Area #### ============================== */

.newsletter-area{
    position: relative;
    z-index: 1;
    background-color: #3c3c3c;
    color: white;
 }
 
 .section-padding-100-0{
    padding: 100px;
    padding: 0px;
 }
 .newsletter-area{
    height: 50%;
    width: 100%;
    padding: 100px 60px;
 }
 
 .newsletter-area .newsletter-form form input[type="submit"]{
    transition-duration: 500ms;
    height: 50px;
    background-color: #fbb710;
    color: #fff;
    font-size: 14px;
    padding: 0 30px;
    cursor: pointer;
    position: absolute;
    border: none;
    z-index: 10;
 }
 .newsletter-area .newsletter-form form input[type="email"]{
    width: 60%;
    height: 50px;
    background-color: #fff;
    color: #afafaf;
    font-size: 14px;
    font-style: italic;
    border: none;
    padding: 0 30px;
 }



/* ================================#### Footer #####=========================== */

.footer_area{
    position: relative;
    z-index: 1;
    background-color: #252525;
    padding: 80px 0;
}
.footer_area .single_widget_area .copywrite{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 10px;
}
.footer_area .single_widget_area .footer_menu .navbar{
    padding: 0;
}
#footerNavContent{
    color: white;
    font-size: 20px;
}


/* ============================== ##### Button Scroll ##### ================================= */

#scrollUp{
    background-color: #fbb710;
    border-radius: 0;
    bottom: 60px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: #ffff;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    right: 60px;
    text-align: center;
    width: 40px;
    text-decoration: 500ms;

}







